<%= render 'shared/navbar' %>
<%= render 'shared/converter' %>
<div class="container">
  <h2 class="article-title"><%= @article.title %></h2>
  <p class="article-user">
  Published <%=time_ago_in_words(@article.created_at)%> ago, sent by:
  <strong><%= @article.user.nickname%></strong></p>
  <br/>
  <div class="article-grid">
    <div class="social-icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="article-image">
      <%= cl_image_tag @article.photo.key, height: 1920, width: 1080, crop: :limit if @article.photo.attached? %>
      <div>
        <div class="article-text">
          <p><%= @article.rich_body %></p>
        </div>
      </div>
    </div>
    <div class="social-icons">
      <% pre_like = @article.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to(article_like_path(@article, pre_like), method: :delete, class: "btn bg-btn pull-right") do %>
        <span class= "fa-solid fa-heart fa-lg icon-heart"><span>
        <% end %>
      <% else %>
          <%= button_to(article_likes_path(@article), method: :post, class: "btn bg-btn pull-right") do %>
          <span class= "fa-solid fa-heart fa-lg icon-heart-off"><span>
          <% end %>
      <% end %>
      <p class="btn btn-dark d-block w-100"><%= @article.likes.count %></p>
      </div>
    </div>
  </div>
</div>
