<%= render 'shared/navbar' %>
<div class="forum bg-dark">
    <div class=" header d-flex align-items-center justify-content-between">
    <h2 class="text-dark">RoundEarthForum</h2>
    <a class=" bt text-light btn btn-light bg-dark" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">Edit Topic</a>
    </div>

<div class="container">
    <div class="collapse mx-5" id="collapseExample2">
    <%= render "form", topic: @topic %>
    </div>

  <div class="topic-topic m-5 p-4 text-center">
    <h1 class="text-dark"> <%=@topic.title%> </h1>
    <h5 class="text-dark"> <%=@topic.description%></h5>
  </div>

  <div class="header-2 d-flex align-items-center justify-content-between">
    <h1 class="text-light ">Comments:</h1>
    <a class="btn btn btn-light" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">New Comment</a>
  </div>

  <div class="px-5 text-center">
  <div class="collapse" id="collapseExample">
  <%= render"form_reply" %>
  </div>
  </div>


  <% @topic.replies.reverse.each do |reply| %>
  <div class="topic-topic-1 m-5 p-4 text-dark">
      Published <%=time_ago_in_words(reply.created_at)%> ago, sent by:
      <strong><%= reply.user.nickname%></p></strong><h3><%= reply.content %></h3>
      <% if current_user && reply.user == current_user  %>
        <br/><%= link_to reply_path(reply), class:"text-dark", data: {turbo_method: :delete, turbo_confirm: "Are sure you?"} do %>
        Delete <i class="fa-regular fa-trash-can"></i>
    <% end %>
      <% reply.comments.reverse.each do |comment| %>
       <div class=" m-3 px-5">
       <hr>
        Published <%=time_ago_in_words(comment.created_at)%> ago, sent by:
      <strong><%= comment.user.nickname%></p></strong><h5><%= comment.content %></h5>
      <% if current_user && comment.user == current_user  %>
              <br/><%= link_to comment_path(comment), class:"text-dark", data: {turbo_method: :delete, turbo_confirm: "Are sure you?"} do %>
        Delete <i class="fa-regular fa-trash-can"></i>
        <%end%>
            <% end %>
    </div>

        <% end %>
    <% end %>
             <hr>
      <%= render"form_comment", reply: reply%>
  </div>
    <%end%>
</div>
</div>
