<%= render 'shared/navbar' %>
<div class="forum">
  <div class=" header d-flex align-items-center justify-content-between">
    <h2 class=" text-dark">RoundEarthForum</h2>
    <%= link_to "Edit this topic", edit_topic_path(@topic), class:"bt btn btn-light text-light" %>
    </div>
  <div class="topic-topic m-5 p-4 text-center">
    <h1 class=" text-dark"> <%=@topic.title%> </h1>
    <p class=" text-dark"> <%=@topic.description%></p>
  </div>
  <div class=" header-2 d-flex align-items-center justify-content-between">
    <h1 class="text-light ">Comments:</h1>
    <a class="btn btn-light" href="<%=@topic.id%>/replies/new"> New comment</a>
    <% @topic.replies.each do |reply| %>
  </div>
  <div class="topic-topic  m-5 p-4">
      Published <%=time_ago_in_words(reply.created_at)%> ago, sent by:
      <strong class=""><%= reply.user.nickname%></p></strong><h4 class="topic-text"><%= reply.content %></h4>
        <br/><%= link_to reply_path(reply), data: {turbo_method: :delete, turbo_confirm: "Are sure you?"} do %>
        Delete<i class="fa-regular fa-trash-can"></i>
        <%end%>
        <%end%>
        </div>
</div>
