<div class="back-articles bg-dark" >
  <div class="container bg-dark">
    <div>
      <% if @believer %>
        <h1 class="article-text-style">Welcome Believer</h1>
        <h4 class="article-subtitle-style">The Earth is very pleased to have you as a member of our community. Make yourself at home... Here, you'll be able to access the latest news, discuss with friends and, of course, share our articles with people you know.</h4>
      <% elsif @believer.nil? %>
        <h1 class="article-text-style">Articles List</h1>
        <h4 class="article-subtitle-style">It's great to have you with us, make yourself at home... Here, you'll be able to access the latest news and share our articles with people you know.</h4>
      <% else %>
        <h1 class="article-text-style">Welcome Non-believer</h1>
        <h4 class="article-subtitle-style">Well... it's great to have you with us! We hope to spin and crack your old square beliefs! Here, you'll be able to access the latest news, discuss with friends and, of course, share our articles with people you know.</h4>
      <% end %>
      <br>
      <br>
    </div>
    <div class="cards-article-grid">
      <% @articles.sample(4).each do |article|%>
        <div class="card-article">
       <% if article.photo.attached? %>
          <%= cl_image_tag article.photo.key, :width => 1920, :height => 1080, crop: :limit %>
        <% else %>
          <%= image_tag 'astronauta.jpg', style:"width = 1920; height = 1080;" %>
        <% end %>
          <div class="card-article-infos">
            <div>
            <h4><%= article.title %></h4>
              <p><%= article.subtitle %></p>
            </div>
              <a href="/articles/<%=article.id%>" class="btn-flat card-article-user">Read More...</a>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
