<div class="back-articles bg-dark" >
  <div class="container bg-dark">
    <div>
      <% if @believer %>
        <h1 class="article-text-style">Welcome Believer</h1>
        <h4 class="article-subtitle-style">The Earth is very pleased to have you as a member of our community. Make yourself at home... Here, you'll be able to access the latest news, discuss with friends and, of course, share our articles with people you know.</h4>
      <% elsif @believer.nil? %>
        <h1 class="article-text-style">Articles List</h1>
        <h4 class="article-subtitle-style">It's great to have you with us, make yourself at home... Here, you'll be able to access the latest news and share our articles with people you know.</h4>
      <% else %>
        <h1 class="article-text-style">Welcome Non-believer</h1>
        <h4 class="article-subtitle-style">Well... it's great to have you with us! We hope to spin and crack your old square beliefs! Here, you'll be able to access the latest news, discuss with friends and, of course, share our articles with people you know.</h4>
      <% end %>
      <br>
      <br>
    </div>
    <%= turbo_frame_tag 'search' do %>
      <div class="cards-article-grid">
        <% articles.sample(4).each do |article|%>
          <div class="card-article">
            <% if article.photo.attached? %>
              <%= cl_image_tag article.photo.key, :width => 1920, :height => 1080, crop: :limit %>
            <% else %>
              <%= image_tag 'astronauta.jpg', style:"width = 1920; height = 1080;" %>
            <% end %>
            <div class="card-article-infos">
              <div>
                <h4><%= article.title %></h4>
                <p><%= article.subtitle %></p>
              </div>
              <a href="/articles/<%=article.id%>" class="btn-flat card-article-user">Read More...</a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container d-flex justify-content-center">

<div id="carouselExampleControls" class="carousel slide d-flex justify-content-center mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <h4>Our most recently added articles</h4><br>
      <div class="card-article-info">
    <% @articles.sample(4).each_with_index do |article, index| %>
      <div class="carousel-item <%="active"if index.zero? %>">
        <p><%= cl_image_tag article.photo.key, crop: :limit, class: "d-block w-100 img-fluid"%></a></p>
      </div>
    <% end %>
       </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
