<div class="back-articles bg-dark" >
  <div class="container bg-dark">
    <div>
      <% if @believer %>
        <h1 class="article-text-style">Welcome Believer</h1>
        <h4 class="article-subtitle-style">The Earth is very pleased to have you as a member of our community. Make yourself at home... Here, you'll be able to access the latest news, discuss with friends and, of course, share our articles with people you know.</h4>
      <% elsif @believer.nil? %>
        <h1 class="article-text-style">Articles List</h1>
        <h4 class="article-subtitle-style">It's great to have you with us, make yourself at home... Here, you'll be able to access the latest news and share our articles with people you know.</h4>
      <% else %>
        <h1 class="article-text-style">Welcome Non-believer</h1>
        <h4 class="article-subtitle-style">Well... it's great to have you with us! We hope to spin and crack your old square beliefs! Here, you'll be able to access the latest news, discuss with friends and, of course, share our articles with people you know.</h4>
      <% end %>
      <br>
      <br>
    </div>
    <%= turbo_frame_tag 'search' do %>
      <div class="cards-article-grid">
        <% articles.sample(4).each do |article|%>
          <div class="card-article">
            <% if article.photo.attached? %>
              <%= cl_image_tag article.photo.key, :width => 1920, :height => 1080, crop: :limit %>
            <% else %>
              <%= image_tag 'astronauta.jpg', style:"width = 1920; height = 1080;" %>
            <% end %>
            <div class="card-article-infos">
              <div>
                <h4><%= article.title %></h4>
                <p><%= article.subtitle %></p>
              </div>
              <a href="/articles/<%=article.id%>" class="btn-flat card-article-user">Read More...</a>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="d-flex justify-content-center">
  <div class= "w-50" >
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.7)" >
        <% articles.each_with_index do |article, index| %>
          <div class="carousel-item <%= index.zero? ? "active" : "" %>">
            <% if article.photo.attached? %>
              <%= cl_image_tag article.photo.key, class: "d-block carroussel-img-size" %>
            <% else %>
              <%= image_tag 'astronauta.jpg', style:"width = 1920; height = 1080;" %>
            <% end %>
            <div class="carousel-caption d-none d-md-block shadowboxer">
              <h4> <%= article.title %> </h4>
              <p> <%= article.subtitle %></p>
            </div>
          </div>
        <% end %>
      </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>
</div>
