<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if current_user == nil %>
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <%end%>
        <li class="nav-item">
          <a class="nav-link" href="/articles">ARTICLES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/topics">FORUM</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/features">FEATURES</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
          <%= form_with url: articles_path,
                        method: :get,
                        class: "d-flex",
                        data: {turbo_frame: 'search', controller: 'search'} do |f| %>
            <%= f.text_field :query,
                            value: params[:query],
                            class: "form-control",
                            type: "search",
                            placeholder: "🔎 Search Articles...",
                            label: "Search",
                            data: {action: 'keyup->search#perform'} %>
          <% end %>
      </ul>
      <ul class="navbar-nav">
        <%= render 'shared/converted_counter' %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to current_user.nickname, "/dashboard", class: "nav-link active", target:'_blank' %>
          </li>
          <li class="nav-item dropdown">
            <%= render 'shared/user_avatar' %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", "/users/edit", class: "dropdown-item" %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item", target:'_blank' %>
              <%= link_to "Chatrooms", chatroom_path(1), class: "dropdown-item", target: "_blank" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "LOGIN", new_user_session_path, class: "nav-link" %>
          </li>
         <% end %>
      </ul>
    </div>
  </div>
</nav>
