<div class="mb-3 d-flex justify-content-between px-3 bg-light">
  <h1>This is your distance calculator </h1>
  <div class="d-flex align-items-center gap-2 p-2" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= form_with url: calculator_path, method: :get do %>
      <%= text_field_tag :pointa,
        params[:pointa],
        class: "rounded-pill",
        placeholder: "Start point"
      %>
      <%= text_field_tag :pointb,
        params[:pointb],
        class: "rounded-pill",
        placeholder: "Finish point"
      %>
      <%= submit_tag "Calculate", class: "btn btn-dark rounded-pill" %>
    <% end %>
  </div>
</div>
